@page
@model PrivacyModel
@{
    ViewData["Title"] = "Admin";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page modify database properties.</p>

<a asp-page="/ExpenseType/Index">Expense Types</a>
<br />
<a asp-page="/FamilyMember/Index">Family Members</a>
<br />
<a asp-page="/ImportDescription/Index">Import Descriptions</a>
<br />
<a asp-page="/IncomeSource/Index">Income Sources</a>
<br />
<a asp-page="/Insurance/Index">Insurance</a>
<br />
<a asp-page="/InsuranceType/Index">Insurance Types</a>
<br />
<a asp-page="/Institution/Index">Institutions</a>
<br />
<a asp-page="/Loan/Index">Loans</a>
<br />
<a asp-page="/LoanType/Index">Loan Types</a>
<br />
<a asp-page="/Property/Index">Properties</a>
<br />
<a asp-page="/Tuition/Index">Tuition</a>
<br />
<a asp-page="/Vehicle/Index">Vehicles</a>
