@page
@model MyBudget.WebUI.Pages.Expenses.EditModel

@{
    ViewData["Title"] = "Edit Expense";
}

<h1>Edit</h1>

<h4>Expenses</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Expenses.ExpensePk" />
            <div class="form-group">
                <label asp-for="Expenses.Year" class="control-label"></label>
                <select asp-for="Expenses.YearId" class="form-control" asp-items="ViewBag.YearId"></select>
                <span asp-validation-for="Expenses.YearId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Expenses.Month" class="control-label"></label>
                <select asp-for="Expenses.MonthId" class="form-control" asp-items="ViewBag.MonthId"></select>
                <span asp-validation-for="Expenses.MonthId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Expenses.ExpenseType" class="control-label"></label>
                <select asp-for="Expenses.ExpenseTypeId" class="form-control" asp-items="ViewBag.ExpenseTypeId"></select>
                <span asp-validation-for="Expenses.ExpenseTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Expenses.Amount" class="control-label"></label>
                <input asp-for="Expenses.Amount" class="form-control" />
                <span asp-validation-for="Expenses.Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Expenses.DueDate" class="control-label"></label>
                <input asp-for="Expenses.DueDate" class="form-control" />
                <span asp-validation-for="Expenses.DueDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index" asp-route-month=@Model.Expenses.MonthId asp-route-year=@Model.Expenses.YearId>Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
